.card{
  font-size: 1.5rem;
  background-color: rgb(227, 213, 170);
  margin: 0.5rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  display: flex;
}

.card h2{
  font-size: inherit;
  font-weight: inherit;
}

.card input{
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  color: rgb(70, 51, 4);
  background-color: rgb(253, 238, 192);
}

.card input:focus{
  outline: none;
}

.card input::placeholder{
  color: rgb(70, 51, 4);
  opacity: 0.5;
}