.column-header{
  display:flex;
  flex-direction: row;
}

.column-header>h1{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 1rem;

}

.column-header a{
  display: block;
  color: var(--dark-accent);
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  background-color:var(--surface);
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
}