.board{
  background-color: var(--surface);
  border-radius: 10px;
  box-shadow: 10px 10px 30px var(--dark-accent);
  display: flex;
  width: 95vw;
  height: 95vh;
  margin: auto;
  margin-top: 2.5vh;
  justify-content: flex-start;
  padding: 1rem; 
}