.new_card input{
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  color: var(--dark-accent);
  background-color: var(--light-accent);
}

.new_card input:focus{
  outline: none;
}

.new_card input::placeholder{
  opacity: 0.5;
}